<!--  Bobby Book Ruby, S., Thomas, D. and Hansson, D. H. n.d. Agile web development with Rails 4.  -->

<h1>Admin Home</h1>
It's <%= Time.now %></br></br>
<%= pluralize(@total_orders, "Orders") %> have been recieved